/* Style site One page HTML5 e CSS3 */

/* New fonts */
@font-face {
  font-family: OpenSans;
  src: url(/Fonts/OpenSans-VariableFont_wdth\,wght.ttf) format(truetype);
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "OpenSans";
  font-size: 1.6rem;
}

/* Layout */
.container {
  margin: 0 auto;
  background-color: #7f0;
}

h1 {
  font-size: 2.6rem;
  color: #252525;
}

h2 {
  font-size: 2.3rem;
  color: #2e2e2e;
}

h3 {
  font-size: 1.9rem;
  color: #383838;
}

/* Smartpone Portrait */

/* Smartpone Landscape*/
@media (min-width: 576px) {
  body {
    background-color: #0ff;
  }

  /* Layout */
  .container {
    max-width: 540px;
  }
}

/* Tablet Portrait */
@media (min-width: 768px) {
  body {
    background-color: #ff0;
  }

  /* Layout */
  .container {
    max-width: 720px;
  }
}

/* Tablet Landscape*/
@media (min-width: 992px) {
  body {
    background-color: #ff6600;
  }

  /* Layout */
  .container {
    max-width: 960px;
  }
}

/* PC */
@media (min-width: 1200px) {
  body {
    background-color: #ff0000;
  }

  /* Layout */
  .container {
    max-width: 1140px;
  }
}
